/* gernal reset */
body {
  margin: 0;
  padding: 0;
}
.container {
  background-color: rgb(106, 236, 193);
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
  border: 1px rgb(76, 179, 144) solid;
}

/* header and Navigation - styling */

header {
  width: 100%;
  /* height:20vh; */
  padding: 20px;
}
.header_nav {
  display: inline-block;
  
}

.header_image {
  width: 50px;
  height: 50px;
}
ul.header_nav_list{
   
}
.header_nav_list li {
  display: inline-block;
  border: darkgreen 1px solid;
  background-color: darkgreen;
  border-radius: 15%;
  padding: 5px;
  vertical-align: auto;
  margin-top: 100px;
}
.header_nav_list a {
  text-decoration: none;
  color: white;
}
